@import "variables.scss";

#calendar {
  width: auto;
  max-width: 900px;
  z-index: 10;
  margin: 0 auto;
}

.fc-header-title h2 {
  white-space: normal;
}

@media (max-width: $screen-xs) {
  .fc-header-left, .fc-header-center, .fc-header-right {
    display: block;
    width: 100%;
    text-align: center;
  }
}
