@import "variables.scss";

/* CSS declarations go here */
.logo-nav img {
  width: 45px;
}

.media-object {
    width: 250px;
}

.hidden-data {
  display: none;
}

/* customize modal style */
.modal-header {
  background-color: #D8EDF7;
  color: #3986AD;
  border-radius: 5px 5px 0 0;
}
.modal-body {
  padding: 5px;
}

.modal-body .form-group {
  border-radius: 0px;
  margin-bottom: 5px;
}

.form-group {
  position: relative;
}

.event-input {
  padding-left: 25px;
  border-radius: 0px;
}

.event-date {
  background: url('/imgs/calendar_icon.png') no-repeat 5px 8px;
  background-color: #fff !important;
}

.event-date:hover {
  cursor: pointer;
}

.event-title {
  background: url('/imgs/title_icon.png') no-repeat 5px 8px;
}
.event-msg {
  background: url('/imgs/comments_icon.png') no-repeat 5px 8px;
  height: 300px;
  resize: vertical;
}
.modal-footer {
  margin-top: 0px;
  padding: 5px;
  border-top: 0px;
}

/* advanced event */
.panel-body.advancedEvent {
  padding: 5px;
}
.event-address {
  background: url('/imgs/address_icon.png') no-repeat 5px 8px;
}
.event-start {
  background: url('/imgs/clock_icon.png') no-repeat 5px 8px;
}
.event-end {
  background: url('/imgs/clock_icon.png') no-repeat 5px 8px;
}
.event-sharedEmail {
  background: url('/imgs/email_icon.png') no-repeat 5px 8px;
}

.form-group > .row .col-md-4{
  padding-right: 0px;
}



/* from http://lea.verou.me/2013/03/ios-6-switch-style-checkboxes-with-pure-css/ */
/* = iphone style checkbox  = */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
/* Normal Track */
input[type="checkbox"].ios-switch + div {
  display: inline-block;
  vertical-align: middle;
  width: 40px;  height: 20px;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
}

input[type="checkbox"].ios-switch:checked + div {
  width: 40px;
  background-position: 0 0;
  background-color: #D9EDF7;
  border: 1px solid #3596EE;
  box-shadow: inset 0 0 0 10px rgba(217,237,247,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
  float: left;
  width: 18px; height: 18px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
  -webkit-transform: translate3d(21px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Switch code ends here, from now on it’s just bling for the demo page */

label.ios-switch-label {
  position: relative;
  display: block;
  padding: .8em;
  border: 1px solid silver;
  border-top-width: 0;
  background: white;
  font: bold 110% sans-serif;
}

label.ios-switch-label:first-of-type {
  border-top-width: 1px;
  border-radius: .6em .6em 0 0;
}

label.ios-switch-label:last-of-type {
  border-radius: 0 0 .6em .6em;
  box-shadow: 0 1px hsla(0,0%,100%,.8);
}

/* map */
#map {
  width: 100%;
  height: 600px;
}
  /* = iphone style checkbox = */
#account {
	margin: 10px 0;
}

/* calendar */
#mCalendar-show .item {
  height: 450px;
}
#mCalendar-show img {
  padding: 0 45px;
  margin: 0 auto;
}

#mCalendar-show .carousel-caption {
  color: #000;
}

#mCalendar-show .carousel-control {
  background-image: none;
  color: #9E1313;
}

@media (max-width: $screen-sm) {

  .form-group > .row .col-md-4{
    padding: 5px 15px;
  }
}


/* elements */
.mFluid {
  padding: 0;
}

.mRow {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}
