template(name='clndrEventSidebar')
  .mRow
    .well
      form.form-horizontal
        fieldset
          legend New Event
          .form-group
            label.col-md-3.control-label
              | Titile
            .col-md-9
              input.form-control(type="text" value="" placeholder="new event")
          .form-group
            label.col-md-3.control-label
              | Description
            .col-md-9
              textarea.form-control(rows="4" placeholder="description")
          .form-group
            .col-md-6.col-md-offset-4
              button.btn.btn-primary(type="submit")
                |Add

