template(name='defaultLayout')
  .container-fluid.mFluid
    .mRow
      +sidebarComponent(
        sidebarSize='xs'
        sidebarType="primary"
        location='left')
      .main(class="{{#if isLeftSidebarOpen}}left-sidebar-open{{/if}}")
        +headerNavbar
        .mRow
          +yield