template(name='defaultLayout')
  .container-fluid.mFluid
    .mRow
      +sidebarComponent(position='left')
      .main(class="{{#if isLeftSidebarOpen}}left-sidebar-open{{/if}}")
        +headerNavbar
        .mRow
          +yield