head
	meta(http-equiv="content-type" content="text/html; charset=utf-8" )
	meta(name="viewport" content="width=device-width, initial-scale=1")
	script(src="//api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js")
	link(rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css")



template(name='testLayout')
	h1 Test
	+yield
