template(name="eventInfoFields")
  input(type="hidden" name="date[start]" id="eventStart" value)
  input(type="hidden" name="date[end]" id="eventEnd" value)
  input(type="hidden" name="date[allDay]" id="eventAllDay" value)
  #current_evt_data.hidden
  #current_evt_action.hidden

