template(name='modal')
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4.modal-title New Event
        .modal-body
          .form-group
            input#title.form-control.event-title.event-input(type='text', name='title', placeholder='Title', value='')
          .form-group
            textarea#msg.form-control.event-msg.event-input(name='desc', rows='12', cols='30', placeholder='Message')
          +eventInfoFields
        .modal-footer
          button#deleteEvent.btn.btn-danger.pull-left(type='button', data-dismiss='modal') Delete
          button#saveEvent.btn.btn-primary(type='button') Add
