@import "zindex.scss";
@import "variables.scss";
.sidebar {
  display: none;
}
/* Hide for mobile, show later in CSS file */
.sidebar-log {
  text-align: center;
  height: 50px;
  img {
    height: 100%;
  }
}

.nav-sidebar-header {
  text-align: center;
  margin: 10px auto;
  img {
    border-radius: 50%;
    width: 100%;
    height: auto;
  }
}

.sidebar-list {
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 0;
  border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
  a.sidebar-list-link {
    color: #fff;
    &:active, &:focus, &:hover {
      background-color: rgba(238, 238, 238, 0.75);
      font-size: 1.1em;
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    display: block;
    bottom: 0;
    height: 100%;
    z-index: $sidebar-z-index;
    padding: 0 5px;
    background-attachment: fixed;

    &.sidebar-primary {
      background-color: #009688;
    }

    &.sidebar-info {
      background-color: #03a9f4;
    }

    .sidebar-tongue {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 10px;
      background: #fff;
      &:hover {
        cursor: pointer;
      }
      &.left {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &.right {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      i.fa {
        padding: 3px 9px;
        font-size: 24px;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        transform: rotate(180deg);
        transition: transform 0.5s;
      }
    }

    &.is-open .sidebar-tongue i.fa {
      transform: rotate(0deg);
    }
    &.sidebar-sm {
      width: $sidebar-sm;
      max-width: $sidebar-sm;
      &.left {
        left: -$sidebar-sm;
      }
      &.right {
        right: -$sidebar-sm;
      }
      &.left.is-open {
        left: 0;
      }
      &.right.is-open {
        right: 0;
      }

      .sidebar-tongue {
        &.left {
          left: $sidebar-sm;
        }
        &.right{
          right: $sidebar-sm
        }
      }
    }

    &.sidebar-xs {
      width: $sidebar-xs;
      max-width: $sidebar-xs;
      &.left {
        left: -$sidebar-xs;
      }
      &.right {
        right: -$sidebar-xs;
      }
      &.left.is-open {
        left: 0;
      }
      &.right.is-open {
        right: 0;
      }
      .sidebar-tongue {
        &.left {
          left: $sidebar-xs;
        }
        &.right{
          right: $sidebar-xs
        }
      }
    }
  }
}
