// loading
#floatingBarsG {
  position:relative;
  width:44px;
  height:55px;
  margin: 0 auto;
}
.blockG {
  position:absolute;
  background-color:#FFFFFF;
  width:7px;
  height:17px;
  -moz-border-radius:6px 6px 0 0;
  -moz-transform:scale(0.4);
  -moz-animation-name:fadeG;
  -moz-animation-duration:1.52s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -webkit-border-radius:6px 6px 0 0;
  -webkit-transform:scale(0.4);
  -webkit-animation-name:fadeG;
  -webkit-animation-duration:1.52s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -ms-border-radius:6px 6px 0 0;
  -ms-transform:scale(0.4);
  -ms-animation-name:fadeG;
  -ms-animation-duration:1.52s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -o-border-radius:6px 6px 0 0;
  -o-transform:scale(0.4);
  -o-animation-name:fadeG;
  -o-animation-duration:1.52s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  border-radius:6px 6px 0 0;
  transform:scale(0.4);
  animation-name:fadeG;
  animation-duration:1.52s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}
#rotateG_01 {
  left:0;
  top:20px;
  -moz-animation-delay:0.57s;
  -moz-transform:rotate(-90deg);
  -webkit-animation-delay:0.57s;
  -webkit-transform:rotate(-90deg);
  -ms-animation-delay:0.57s;
  -ms-transform:rotate(-90deg);
  -o-animation-delay:0.57s;
  -o-transform:rotate(-90deg);
  animation-delay:0.57s;
  transform:rotate(-90deg);
}
#rotateG_02 {
  left:6px;
  top:7px;
  -moz-animation-delay:0.76s;
  -moz-transform:rotate(-45deg);
  -webkit-animation-delay:0.76s;
  -webkit-transform:rotate(-45deg);
  -ms-animation-delay:0.76s;
  -ms-transform:rotate(-45deg);
  -o-animation-delay:0.76s;
  -o-transform:rotate(-45deg);
  animation-delay:0.76s;
  transform:rotate(-45deg);
}
#rotateG_03 {
  left:18px;
  top:2px;
  -moz-animation-delay:0.95s;
  -moz-transform:rotate(0deg);
  -webkit-animation-delay:0.95s;
  -webkit-transform:rotate(0deg);
  -ms-animation-delay:0.95s;
  -ms-transform:rotate(0deg);
  -o-animation-delay:0.95s;
  -o-transform:rotate(0deg);
  animation-delay:0.95s;
  transform:rotate(0deg);
}
#rotateG_04 {
  right:6px;
  top:7px;
  -moz-animation-delay:1.14s;
  -moz-transform:rotate(45deg);
  -webkit-animation-delay:1.14s;
  -webkit-transform:rotate(45deg);
  -ms-animation-delay:1.14s;
  -ms-transform:rotate(45deg);
  -o-animation-delay:1.14s;
  -o-transform:rotate(45deg);
  animation-delay:1.14s;
  transform:rotate(45deg);
}
#rotateG_05 {
  right:0;
  top:20px;
  -moz-animation-delay:1.3299999999999998s;
  -moz-transform:rotate(90deg);
  -webkit-animation-delay:1.3299999999999998s;
  -webkit-transform:rotate(90deg);
  -ms-animation-delay:1.3299999999999998s;
  -ms-transform:rotate(90deg);
  -o-animation-delay:1.3299999999999998s;
  -o-transform:rotate(90deg);
  animation-delay:1.3299999999999998s;
  transform:rotate(90deg);
}
#rotateG_06 {
  right:6px;
  bottom:5px;
  -moz-animation-delay:1.52s;
  -moz-transform:rotate(135deg);
  -webkit-animation-delay:1.52s;
  -webkit-transform:rotate(135deg);
  -ms-animation-delay:1.52s;
  -ms-transform:rotate(135deg);
  -o-animation-delay:1.52s;
  -o-transform:rotate(135deg);
  animation-delay:1.52s;
  transform:rotate(135deg);
}
#rotateG_07 {
  bottom:0;
  left:18px;
  -moz-animation-delay:1.7099999999999997s;
  -moz-transform:rotate(180deg);
  -webkit-animation-delay:1.7099999999999997s;
  -webkit-transform:rotate(180deg);
  -ms-animation-delay:1.7099999999999997s;
  -ms-transform:rotate(180deg);
  -o-animation-delay:1.7099999999999997s;
  -o-transform:rotate(180deg);
  animation-delay:1.7099999999999997s;
  transform:rotate(180deg);
}
#rotateG_08 {
  left:6px;
  bottom:5px;
  -moz-animation-delay:1.9s;
  -moz-transform:rotate(-135deg);
  -webkit-animation-delay:1.9s;
  -webkit-transform:rotate(-135deg);
  -ms-animation-delay:1.9s;
  -ms-transform:rotate(-135deg);
  -o-animation-delay:1.9s;
  -o-transform:rotate(-135deg);
  animation-delay:1.9s;
  transform:rotate(-135deg);
}
@-moz-keyframes fadeG {
  0% {
      background-color:#1989ab
  }
  100% {
      background-color:#FFFFFF
  }
}
@-webkit-keyframes fadeG {
  0% {
      background-color:#1989ab
  }
  100% {
      background-color:#FFFFFF
  }
}
@-ms-keyframes fadeG {
  0% {
      background-color:#1989ab
  }
  100% {
      background-color:#FFFFFF
  }
}
@-o-keyframes fadeG {
  0% {
      background-color:#1989ab
  }
  100% {
      background-color:#FFFFFF
  }
}
@keyframes fadeG {
  0% {
      background-color:#1989ab
  }
  100% {
      background-color:#FFFFFF
  }
}
