/**
 * TODO:
 * - Email: rename to config.js ,and replace USER_NAME and USER_PASSWORD
 * - Mapbox: rename MAPBOX_APIKEY
 */

//
Meteor.startup(function () {
    if (Meteor.isServer) {
        process.env.MAIL_URL = 'smtp://postmaster%40postmaster.USER_NAME:USER_PASSWORD@smtp.mailgun.org:587';
    }
    if (Meteor.isClient) {
        this.App.mapboxApiKey = 'MAPBOX_APIKEY'
        this.App.mapboxMapId = 'MAPBOX_PROJECT_MAP_ID';
        this.App.defaultProfileImage = 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjU5LjU0Njg3NSIgeT0iOTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNzF4MTgwPC90ZXh0PjwvZz48L3N2Zz4=';
    }
});
