/**
 * TODO:
 * - Email: rename to config.js ,and replace USER_NAME and USER_PASSWORD
 * - Mapbox: rename MAPBOX_APIKEY
 */

//
Meteor.startup(function () {
    if (Meteor.isServer) {
        process.env.MAIL_URL = 'smtp://postmaster%40postmaster.USER_NAME:USER_PASSWORD@smtp.mailgun.org:587';
    }
    if (Meteor.isClient) {
        this.App.mapboxApiKey = 'MAPBOX_APIKEY'
    }
});