template(name='_eventForm')
  .col-md-4
    .panel.panel-info
      .panel-heading 
        |New Event
      .panel-body.advancedEvent
        .form-group
          input#date.form-control.event-date.event-input(type='text', name='date', value='{{date}}', readonly='')
        .form-group
          input#title.form-control.event-title.event-input(type='text', name='title', placeholder='Title', value='{{title}}')
        .form-group
          input#address.form-control.event-address.event-input(type='text', name='address', placeholder='Address', value='{{address}}')
        .form-group
          .row
            .col-md-4.col-sm-4
              input#eventStart.form-control.event-start.dateTime.event-input(type='text', placeholder='00:00', name='start', disabled='{{allDay}}', data-value='{{start}}')
            .col-md-4.col-sm-4
              input#eventEnd.form-control.event-end.dateTime.event-input(type='text', placeholder='00:00', name='end', disabled='{{allDay}}', data-value='{{end}}')
            .col-md-4.col-sm-4
              label(clas='ios-switch-label')
                input#allDay.ios-switch(type='checkbox', value='true', name='allDay', checked='{{allDay}}')
                div
                  div
                |All Day
        .form-group
          textarea#msg.form-control.event-msg.event-input(name='desc', rows='12', cols='30', placeholder='Message') 
            = desc
        button#saveEvent.btn.btn-primary.pull-right(type='button')
          |Add
        +eventInfoFields
