template(name="eventNew")
  .col-sm-3.col-md-2.sidebar
    ul.nav.nav-sidebar
      li
        a(href="{{ pathFor 'calendar' }}" class="btn btn-defaut")
          i.fa.fa-chevron-left
          | Back
  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    +_eventForm  
    .col-md-7
      +loading
      #map
