<template name="_eventForm">
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">New Event</div>
			<div class="panel-body advancedEvent">
				<div class="form-group">
					<input type="text" class="form-control event-date event-input"  name="date" id="date" value="{{date}}" readonly />
				</div>
				<div class="form-group">
					<input type="text" class="form-control event-title event-input" name="title" id="title" placeholder="Title" value="{{title}}" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control event-address event-input" name="address" id="address" placeholder="Address" value="{{address}}" />
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<input type="text" class="form-control event-start dateTime event-input" placeholder="00:00" name="start" id="eventStart" disabled="{{allDay}}" data-value="{{start}}">
						</div>
						<div class="col-md-4 col-sm-4">
							<input type="text" class="form-control event-end dateTime event-input" placeholder="00:00" name="end" id="eventEnd" disabled="{{allDay}}" data-value="{{end}}">
						</div>
						<div class="col-md-4 col-sm-4">
							<label clas="ios-switch-label">
								<input type="checkbox" class="ios-switch" value="true" name="allDay" id="allDay" checked={{allDay}}>
								<div><div></div></div>
								All Day
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<textarea name="desc" class="form-control event-msg event-input" id="msg" rows="12" cols="30" placeholder="Message">{{desc}}</textarea>
				</div>
				<!--         <div class="form-group">
			<input type="text" class="form-control event-sharedEmail" name="sharedEmail" id="sharedEmail" placeholder="Email" value="" disabled="true" />
			</div>
			<label clas="ios-switch-label">
			<input type="checkbox" class="ios-switch" id="share">
			<div><div></div></div>
			Share
			</label> -->
			<button type="button" class="btn btn-primary pull-right" id="saveEvent">Add</button>
			{{> eventInfoFields}}
			</div>
		</div>
	</div>
</template>


