template(name='loading')
  #floatingBarsG
    #rotateG_01.blockG
    #rotateG_02.blockG
    #rotateG_03.blockG
    #rotateG_04.blockG
    #rotateG_05.blockG
    #rotateG_06.blockG
    #rotateG_07.blockG
    #rotateG_08.blockG
