<template name='modal'>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">New Event</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="text" class="form-control event-title event-input" name="title" id="title" placeholder="Title" value="" />
					</div>
					<div class="form-group">
						<textarea name="desc" class="form-control event-msg event-input" id="msg" rows="12" cols="30" placeholder="Message"></textarea>
					</div>
					{{> eventInfoFields}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger pull-left" data-dismiss="modal" id="deleteEvent">Delete</button>
					<button type="button" class="btn btn-primary" id="saveEvent">Add</button>
				</div>
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div> <!-- /.modal -->
</template>
