<template name="profile">
  <div class="col-md-4">
    <form class="form-horizontal" role="form" enctype="multipart/form-data">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a class="thumbnail" href="#">
            {{#if user.profile.photo}}
              <img src="{{profileImage}}" alt="profile image">
            {{else}}
              <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjU5LjU0Njg3NSIgeT0iOTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNzF4MTgwPC90ZXh0PjwvZz48L3N2Zz4=" alt="profile image">
            {{/if}}
          </a>
          <input type="file" name="image" value="" id="image">
        </div>
      </div>
      {{#each profileImages}}
      <a href="#" class="profile-photos">
        <img src="{{this.url}}" data-id="{{this._id}}" alt="profile image">
      </a>
      {{/each}}

      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="name" value="{{user.username}}" placeholder="Username" id="name">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          {{#each user.emails}}
          <input type="email" class="form-control" id="email" value="{{address}}" placeholder="Email">
          {{/each}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" tpye="submit" id="update">Update</button>
        </div>
      </div>
    </form>
  </div>
</template>
