template(name="sidebar")
  .center-block
    a.center-block.sidebar-log(href="{{pathFor 'home'}}")
      img(src='/imgs/calendar.png')
  ul.nav.nav-sidebar
    li.nav-sidebar-header
      img(src='{{profileImage}}')
    li
      +Template.dynamic(template=getViewSidebarLinksTemplate)
